* {
  margin: 0;
}

.invoice {
  /* flex: 2.1; */
  width: 300px;
  height: 1000px;
  background-color: #363b4d;

  /* flex-direction: column; */
}
.invoice_sidebar {
  margin: 20px;
}

.invoive__sidebar {
}
