/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.child {
  margin-top: 200px;
  width: 1250px;
  height: 1376px;
  background-color: #f3f3f4;
} */

.new_invoice {
  /* margin: 20px; */
  /* border: 1px solid gray; */

  flex-wrap: wrap !important;
}
